# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.o
BatteryMonitor.X/build/default/debug/ADC.o.d
*.d
*.elf
BatteryMonitor.X/dist/default/debug/BatteryMonitor.X.debug.map
*.map
BatteryMonitor.X/dist/default/production/BatteryMonitor.X.production.hex
*.BDi
*.pyc
BatteryMonitor.X/nbproject/Makefile-default.mk
*.properties
BatteryMonitor.X/nbproject/Makefile-impl.mk
*.mk
BatteryMonitor.X/nbproject/Package-default.bash
